<section class="h-100 gradient-form">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black shadow-sm">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <h4 class="mb-5 pb-1">Finesa App</h4>
                </div>

                <form [formGroup]="frmLogin" autocomplete="off">
                  <h4 class="mb-5">Iniciar Sesión</h4>

                  <div class="form-outline mb-4">
                    <h6>Correo electrónico</h6>
                    <input class="p-inputtext-sm w-100" formControlName="email" name="email" type="email" pInputText>
                  </div>

                  <div class="form-outline mb-4">
                    <h6>Contraseña</h6>
                    <p-password class="p-inputtext-sm"
                      formControlName="password"
                      name="password"
                      styleClass="w-100"
                      inputStyleClass="w-100"
                      [feedback]="false">
                    </p-password>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <div class="d-grid">
                      <button class="p-button-sm" pButton type="button" label="Ingresar" (click)="onSubmit()" [disabled]="frmLogin.invalid"></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Gestión de productos</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
